/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.logo {
    width: 150px;
    padding: 1.5rem;
}

.nav-section-wrapper {
    width: 100%;
    border-bottom: 12px #AFAFAF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-navigation ul {
    list-style-type: none;
    font-family: 'Inter';
}

.header-navigation ul li {
    padding: 5px;
}

.header-navigation a {
    text-decoration: none;
    color: #404040;

}

.nav-section-wrapper {
    display: flex;
}

.box {
    /*background: orange;*/
    padding: 1rem;
    border-radius: 50%;
}

/* General styling for the dropdown */
.dropdown {
    /*display: inline-block;*/
}

/* Style the button used for opening the dropdown */
.dropbtn {
    /*background-color: #E7F0F2;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none; /* Hidden by default, visible on hover or another trigger */
    position: absolute;
    right: -3rem;
    background-color: #f9f9f9;
    width: 410px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

/* TODO - Improve this*/
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/*----------------------Menu Icon animations-----------------*/
html, body {
    height: 100%;
}

.box {
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2px;
    transition: transform 2s;

}

.row {
    background-color: #FF8C19;
    height: 8px;
    width: 213%;
    border-radius: 10px;
    margin-left: -8px;
}

.center {
    position: absolute;
    top: 5%;
    left: 84%;
    transform: translate(-50%, -50%);
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: -3rem;
    background-color: #f9f9f9;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;

}

.dropdown-toggle:checked + .dropdown-content {
    display: block;
}

.dropdown label.dropbtn {
    display: block;
    cursor: pointer;
}


@media (min-width: 768px) {
    .dropdown-content {
        position: static;
        display: flex;
        justify-content: space-around; /* Distributes space evenly between links */
        box-shadow: none;
    }

    .dropdown-content {
        background: none;
    }

    .dropdown-content a {
        padding: 0;
    }

    .center {
        left: 51%;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
}
