/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.logo {
    width: 150px;
    padding: 1.5rem;
}

.header-navigation ul {
    list-style-type: none;
    font-family: 'Inter';

}

.header-navigation ul li {
    padding: 5px;
}

.header-navigation a {
    text-decoration: none;
    color: #404040;

}
