/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./recources/fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

.navigation-logo {
    height: 20px;
    grid-area: logo;
    display: flex;
    align-self: center;
}

.navigation {
    margin: 0;
    border-bottom: 12px #AFAFAF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-areas: "logo menu";
    padding: 20px 20px;
}

.navigation-menu {
    grid-area: menu;
}

.header-navigation ul {
    list-style-type: none;
    font-family: 'Inter';
}

.header-navigation ul li {
    padding: 5px;
}

.header-navigation a {
    text-decoration: none;
    color: #404040;
}

.navigation-menu-area {
    display: flex;
    flex-direction: row-reverse;
}

.navigation-menu-area-button {
    color: white;
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-flow: column;
}

.navigation-menu-area-button:active {
    -webkit-tap-highlight-color: transparent;
}

.navigation-menu-area-button:hover ~ .navigation-menu-area-dropdown {
    display: block;
}

.navigation-menu-area-button-row {
    background-color: #FF8C19;
    display: block;
    height: 4px;
    margin-bottom: 3px;
}

.navigation-menu-area-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: white;
    width: 99vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    list-style: none;
    padding-left: 5px;
}

/* Links inside the dropdown */
.navigation-menu-area-dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.navigation-menu-area-dropdown a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .navigation-menu-area-dropdown {
    display: block;
}


/*----------------------Menu Icon animations-----------------*/

/*.box {*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    row-gap: 2px;*/
/*    transition: transform 2s;*/

/*}*/


/*.dropdown label.navigation-menu-area-button {*/
/*    display: block;*/
/*    cursor: pointer;*/
/*}*/


/*@media only screen and (min-width: 768px) {*/
/*    .dropdown-content {*/
/*        position: static;*/
/*        display: flex;*/
/*        justify-content: space-around; !* Distributes space evenly between links *!*/
/*        box-shadow: none;*/
/*    }*/

/*    .dropdown-content {*/
/*        background: none;*/
/*    }*/

/*    .dropdown-content a {*/
/*        padding: 0;*/
/*    }*/

/*    !*.center {*!*/
/*    !*    left: 51%;*!*/
/*    !*}*!*/
/*    .dropdown:hover .dropdown-content {*/
/*        display: none;*/
/*    }*/

/*    .dropdown-toggle:checked + .dropdown-content {*/
/*        display: none;*/
/*    }*/

/*    .row {*/
/*        display: none;*/
/*    }*/
/*}*/


